.chat-side
  .side-header
    .side-header__box
      .side-header__box__user-name
        higuchi
      .side-header__box__menu
        =link_to "#", class: "side-header__box__menu__new-group" do
          = fa_icon 'edit', class: "fa-edit"
        =link_to "#", class: "side-header__box__menu__edit-user" do
          = fa_icon 'cog', class: "fa-cog"
  .groups
    .group
      .group__group-name
        test
      .group__latest-message
        まだメッセージはありません
    .group
      .group__group-name
        test2
      .group__latest-message
        まだメッセージはありません